
footer {
    margin-top: 50px;

    p {
        text-align: center;
    }

}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

.chartBox{
    width: 600px;
}
header {
    position: sticky;
    top: 10px;
    left: 10px;
}
main {
    margin-top: 100px;
}

.chart-1-section, .chart-2-section {
    display: flex;
    justify-content: center;
    gap: 15%;

    p {
        width: 300px;
        height: 500px;
    }
}


#billed {
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.8));
    transition: transform 0.1s ease-out;
    margin-left: 10px;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 0;
}